<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>Handle POST requests with Flask</title>
        <link href="/static/css/bootstrap.min.css" rel="stylesheet">
    </head>
    <body>
        <div id="container">
            <div class="title">
                <h1>POST request with Flask</h1>
            </div>
            <div id="content">
                <form method="post" action="{{ url_for('hello') }}">
                  <label for="yourname">名前 :</label>
                  <input type="text" name="yourname" /><br />
                  <label for="youremail">メール :</label>
                  <input type="text" name="youremail" /><br />
                  <input type="submit" />
                </form>
            </div>
        </div>
    </body>
</html>
